.event {
	text-align: center;
}

.event-box a {
	display: block;
	padding: 10px;
	margin: 0 0 20px 0;
	text-decoration: none;
	color: white;
}

.event-box :hover {
	background: #eee;
}
.event-box span {
	margin: 0 2px;
}
.event-box span:first-child {
	font-weight: 900;
}

.event-box {
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	margin: 2%;
	width: 25%;
	border: 1px solid #81CFE0;
}

.event-header {
	padding: 3%;
	background-color: rgba(129,207,224,1);
}

.event-body {
	padding: 3%;
	font-size: 13px;
}

tr {
	margin: 1%;
}

td {
	margin: 1%;
}

.table-header {
	color: rgba(129,207,224);
	font-weight: bold;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

		.event-box {
			box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
			margin: 4%;
			width: 100%;
			border: 1px solid #81CFE0;
		}

		.event-header {
			padding: 3%;
			background-color: rgba(129,207,224,1);
			font-size: 40px;
		}

		.event-body {
			padding: 3%;
			font-size: 40px;
		}
}
