.event {
	text-align: center;
}

.event a {
	display: block;
	padding: 10px;
	border: 1px solid #81CFE0;
	border-radius: 25px;
	margin: 0 0 10px 0;
	text-decoration: none;
	color: black;
}
.event a:hover {
	background: #eee;
}
.event a span {
	margin: 0 2px;
}
.event a span:first-child {
	font-weight: 900;
}