@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	font-family: "Raleway", Arial;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color: #333333;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
		body {
			font-size: 50px;
			line-height: 50px;
		}

		.search-content {
			margin: 7%;
			font-size: 40px;
			line-height: 60px;
		}
}

.search-intro {
	margin-bottom: 5%;
}

input[type=text], input[type=date] {
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #81CFE0;
	border-radius: 4px;
	margin-bottom: 18pt;
}

input[type=text] {
	width: 60%;
}

input[type=date] {
	width: 100%;
}

h1 {
	font-family: Raleway;
	font-size: 35px;
	padding: 2%;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 3px;
	background-color: rgba(129,207,224,0.8);
	margin: 0;
}

.btn-size{
	width: 100px;
	border-radius: 12px;
	background-color: #81CFE0;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Raleway';
	font-weight: bold;
}

.btn-size:hover {
	background-color: #555555;
	color: white;
	font-weight: 100;
}

.dates {
	display: flex;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

div.date {
	flex: 48%;
}

html,body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	margin: 0px;
}

.recommender-events-list {
	margin: 5% 15% 5% 15%;
	display: flex;
	flex-wrap: wrap;
}
