@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.active {
	font-weight: bold;
}

.fas{
	color: white;
	text-shadow: 1px 1px 1px #ccc;
	font-size: 40px;
}

.nav {
	padding: 0;
	line-height: 25px;
	overflow: hidden;
	background-color: #81CFE0;
	width: 100%;
}

ul {
	margin: auto;
	list-style-type: none;
}

li {
	float: left;
	margin: 0% 2% 0% 2%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px 16px;
	text-decoration: none;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
}

li a:hover {
	background-color: grey;
}

img {
	width: 30px;
}
